langchain
langchain-openai
langchain-ollama
langchain-core
langchain-community
langchain-experimental
langchain-text-splitters
langgraph
langsmith
openai
unstructured
tiktoken
chromadb
faiss-cpu
google-search-results
docarray
matplotlib
plotly
numpy
scikit-learn
pandas
gradio
grandalf
rich